{
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "max-len" : 0,
        "no-underscore-dangle" : 0
    },
    "extends": "airbnb"
}
